.form-submit {
	margin: 30px auto;
	text-align: center;
}
.btn-primary {
	padding: 10px 40px !important;
	background-color: #ffffff !important;
	border: 2px solid #e94c8d !important;
	font-weight: bold !important;
	color: #e94c8d !important;
}
.btn-primary:hover {
	color: #ffffff !important;
	background-color: #e94c8d !important;
	transition: all .3s ease;
}