.about-content {
	margin: 50px 0;
	width: 100%;
}
.about-content h1 {
	text-align: center;
	color: #d85189;
	padding: 30px 0;
	margin: 0;
}
.about-content > div {
	display: flex;
}
.about-text {
	width: 60%;
	text-align: right;
	font-size: 1.2rem;
	letter-spacing: 1px;
	color: rgb(97, 91, 91);
}

.about-img {
	width: 30%;
	display: flex;
	align-items: center;
}
.about-img > img {
	width: 100%;
	height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.about-img {
		display: flex;
		align-items: center;
		background-image: url(girl_about_bg.png);
		background-size: cover;
		background-position: center;
	}
	.about-img img {
		display: none;
	}
	.about-content {
		margin: 30px 0;
		width: 100%;
	}
	.about-content h1 {
		padding: 20px 0;
	}
	.about-text {
		width: 65%;
	}
	.about-text p {
		margin-bottom: .5rem;
	}
}
/* Phones */
@media screen and (max-width: 767px) {
	.about-img {
		display: none;
	}
	.about-text {
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	.about-content {
		background-image: url(girl_about_bg.png);
		background-size: cover;
		background-position-x: center;
		background-position-y: 10%;
	}
}