.footer-nav-list {
	list-style: none;
	padding: 0;
}
.footer-nav-item {
	margin: 10px auto;
}
.footer-nav-item > a {
	color: white;
}
.footer-nav-item > a:hover {
	color: white;
	text-decoration: none;
}
.footer-nav-link {
	color: white !important;
	text-decoration: none !important;
	font-size: 18px;
}

/* phones */
@media screen and (max-width: 767px) {
	.footer-nav {
		display: none;
	}
}