#queens-head {
	width: 70%;
	margin: 0 auto;
}
#queens-head p {
	text-align: center;
	font-size: 18px;
}
#queens-head .queens-left-align {
	text-align: left;
}
@media screen and (max-width: 767px) {
	#queens-head {
		width: 90%;
	}
}