.package-effect {
	margin-top: -120px;
	background-color: white;
	width: 25%;
	text-align: center;
	border-radius: 0 0 18px 18px;
	padding-bottom: 0%;
}
.package-effect strong {
	display: block;
    height: 120px;
    border-radius: 18px 18px 0 0;
    background-color: #52aac5;
    color: white;
    font-size: 24px;
    font-weight: 300;
    line-height: 120px;
    text-align: center;
    margin-bottom: 36px;
}
.package-effect strong.dark {
	background-color: #3F8398;
}
.package-title {
	margin-top: -30px;
	width: 30%;
}
.package-list {
	padding: 0 48px 35px;
    text-align: center;
}
.package-list-item {
	list-style: none;
	height: 48px;
    white-space: nowrap;
    text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
}
.package-check {
	width: 30px;
	height: 12px;
	transform: rotate(-45deg);
	border-bottom: 2px solid #52aac5;
	border-left: 2px solid #52aac5;;
}
.package-discheck {
	width: 30px;
	height: 3px;
	border-bottom: 2px solid #e71f1f;
}

@media screen and (max-width: 1400px) {
	.package-effect {
		margin-top: -80px;
		width: 30%;
	}
	.package-effect strong {
		height: 80px;
	}
	.package-list {
		padding-bottom: 20px;
		text-align: center;
	}
	.package-title {
		width: 320px;
		margin-top: -20px;
	}
}