.more {
	width: 100%;
	height: 100%;
	background-color: white;
}
.title {
	margin: 50px auto;
	text-align: center;
}
.title > h1 {
	font-size: 48px;
	letter-spacing: 3px;
}
.title > h2 {
	font-size: 38px;
	letter-spacing: 2px;
}
.more-lang {
	z-index: 1;
	position: fixed;
	right: 120px;
	top: 42px;
	display: flex;
	flex-direction: column;
}
.more-lang a {
	color: black;
}
.active {
	text-decoration: underline;
}

@media screen and (max-width: 768px) {
	.title > h1 {
		font-size: 26px;
	}
	.title > h2 {
		font-size: 20px;
	}
	.more-lang {
		right: 70px;
		top: 15px;
		font-size: 12px;
	}
}