.background-video {
	width: 125%;
	height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
	.background-video {
		width: auto;
		height: 100vh;
	}
}
@media screen and (max-width: 767px) {
	.background-video {
		width: auto;
		height: 100%;
		display: none;
	}
}