.goals {
	width: 100%;
}
.goals h1 {
	text-align: center;
	margin: 30px 0;
	color: #d85189;
}
.goals-container {
	display: flex;
	justify-content: space-between;
}
.goals-img {
	width: 35%;
	display: flex;
	align-items: center;
}
.goals-img img {
	width: 100%;
}
.goals-text {
	width: 60%;
	margin-left: 5%;
}
.goals-list li {
	margin: 5px 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.goals-img img {
		display: none;
	}
	.goals-container {
		background-image: url(girl_goals.png);
		background-size: contain;
		background-position-x: 120%;
		background-repeat: no-repeat;
	}
}
@media screen and (max-width: 767px) {
	.goals-img {
		display: none;
	}
	.goals-container {
		justify-content: flex-end;
		background-image: url(girl_goals.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position-x: 150%;
	}
	.goals-text {
		width: 80%;
		margin: 0 auto;
	}
}