.button-more-container {
	perspective: 800 !important;
	backface-visibility: hidden !important;
}
.button-more {
	background: rgb(75, 206, 75, 0);
	border: 3px solid rgb(75, 206, 75);
	border-radius: 35px;
	color: white;
	font-size: 24px;
	letter-spacing: 5px;
	cursor: pointer;
	outline: none;
	box-shadow: 0 0 0 0px rgba(75, 206, 75, .5);
	animation: pulseButton 1.5s infinite;
	font-weight: bold;
	padding: 10px 30px;
}
/* .button-more:hover {
	animation: none;
}

.button-more:active {
	outline: none;
}
.button-more:focus {
	outline: none;
} */

@keyframes pulseButton {
	to {
		transform: scale(.9);
		box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
	}
}

/* laptop */
@media screen and (min-width: 1025px) and (max-width: 1400px) {
	.button-more {
		font-size: 14px;
	}
}

/* tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.button-more {
		font-size: 18px;
	}
}

/* phones */
@media screen and (max-width: 767px) {
	.button-more {
		font-size: 12px;
		padding: 5px 20px;
	}
	.button-more-container {
		margin-bottom: 100px !important;
	}
}




