.footer {
	background-color: #222222;
}
.main-footer {
	display: flex;
	justify-content: space-between;
	padding: 50px 10% 20px 10%;
}
.footer-border {
	height: 2px;
	border-bottom: 2px solid rgb(59, 56, 56);
}
.footer-border {
	width: 80%;
	margin: 30px auto 50px auto;
}
.semi-footer {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo-footer {
	width: 10vw;
}
.logo-footer img {
	width: 100%;
}
.footer-copyright {
	color: #756e6e;
	font-size: 14px;
}

/* phones */
@media screen and (max-width: 767px) {
	.footer-copyright {
		font-size: 12px;
	}
	.logo-footer {
		width: 70px;
		height: 50px;
		margin: 20px auto;
	}
	.main-footer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 50px 10% 20px 10%;
	}
	.semi-footer {
		flex-direction: column;
	}
	.footer-copyright {
		color: #756e6e;
		font-size: 10px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.footer-copyright {
		font-size: 10px;
	}
}