.package-title {
	list-style: none;
    width: calc((100vw - 17px - 240px) / 4);
    font-size: 16px;
    line-height: 48px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    letter-spacing: 1px;
}