.logo {
	position: fixed;
	top: 30px;
	left: 36px;
	z-index: 1;
	display: inline-block;
}
.logo a {
	display: inline-block;
}
.logo img {
	width: auto;
	height: 100px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.logo img {
		width: auto;
		height: 80px;
	}
	.logo {
		top: 30px;
		left: 25px;
	}
}
@media screen and (max-width: 767px) {
	.logo img {
		width: auto;
		height: 60px;
	}
	.logo {
		top: 10px;
		left: 15px;
	}
}