.footer-social {
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-social a {
	text-decoration: none !important;
	color: white !important;
	font-weight: 600;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.footer-social {
		width: 250px;
	}
	.footer-social a {
		font-size: 14px;
	}
}
@media screen and (max-width: 767px) {
	.footer-social {
		width: 250px;
	}
	.footer-social a {
		font-size: 12px;
	}
}