/* Position and sizing of burger button */
.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 36px;
	right: 50px;
	top: 50px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: #efeff5;
}
.bm-burger-button > span > span {
	height: 5px !important;
	border: 1px solid black;
	background-color: #ffffff !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 50px !important;
	width: 50px !important;
	top: 40px !important;
	right: 45px !important;
}
.bm-cross-button > span {
	top: 0px !important; 
	right: 26px !important;
}

/* Color/shape of close button cross */
.bm-cross {
	background: #222222;
	height: 50px !important;
	width: 5px !important; 
}

/* General sidebar styles */
.bm-menu {
	background: #ffffff;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em !important;
	overflow: hidden !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bm-menu-wrap {
	top: 0 !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
	height: 85% !important;
	display: inline-block;
	vertical-align: middle !important;
	/* color: #b8b7ad;  */
	padding: 0.5em !important;
}

/* Individual item */
.bm-item {
	margin: 20px auto !important;
	display: inline-block;
	text-decoration: none !important;
	color: #000000 !important;
	font-size: 36px !important;
	letter-spacing: 2px;
	text-align: center;
}

.bm-item:last-child {
	margin: 50px auto;
}
/* Styling of overlay */
.bm-overlay {
	top: 0 !important;
	background: rgba(0, 0, 0, 0.5);
}

.menu-apply {
	margin-top: 50px !important;
	font-size: 18px;
	text-decoration: none;
	color: rgb(75, 206, 75);
	padding: 15px 30px;
	border-radius: 20px;
	border: 2px solid rgb(75, 206, 75);
}
.menu-apply:hover {
	transition: all .5s ease;
	background-color: rgb(75, 206, 75);
	color: white;
}

.button-more-container {
	text-align: center;
	margin: 50px auto;
}

/* phones */
@media screen and (max-width: 767px) {
	.bm-burger-button {
		width: 30px !important;
		height: 30px !important;
		right: 20px !important;
		top: 20px !important;
	}
	.bm-item {
		margin: 15px auto !important;
		font-size: 18px !important;
	}
	.bm-burger-button {
		position: fixed;
		width: 30px;
		height: 30px;
		right: 40px;
		top: 40px;
	}
	
	.bm-burger-button > span > span {
		height: 3px !important;
		border: 1px solid black;
		background-color: #ffffff !important;
	}
	
	/* Position and sizing of clickable cross button */
	.bm-cross-button {
		height: 30px !important;
		width: 30px !important;
		top: 10px !important;
		right: 10px !important;
	}
	.bm-cross-button > span {
		top: 10px !important; 
		right: 26px !important;
	}
	
	/* Color/shape of close button cross */
	.bm-cross {
		background: #222222;
		height: 30px !important;
		width: 3px !important; 
	}
	
	/* General sidebar styles */
	.bm-menu {
		background: #ffffff;
		padding: 2.5em 1.5em 0;
		font-size: 1.15em !important;
		overflow: hidden !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	/* Morph shape necessary with bubble or elastic */
	.bm-morph-shape {
		fill: #373a47;
	}
}