.winners-container {
	width: 60%;
	margin: 50px auto;
}
.winners-list {
	list-style: none;
}
.winner-row {
	display: flex;
	justify-content: space-between;
}
.winner-row div {
	width: 30%;
}
.winner-row div h3 {
	text-align: center;
}
.winner-row div img {
	width: 100%;
	height: auto;
}
.card-header {
	display: flex;
	align-items: center;
}
.card-header div img {
	margin-right: 10px;
	width: 30px;
	height: 22px;
}
.card-header button {
	color: #000;
}
.card-header button:hover {
	color: #ee8ab4;
}
.winners-title {
	text-align: center;
	margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
	.winners-container {
		width: 80%;
	}
}
@media screen and (max-width: 767px) {
	.winners-container {
		width: 90%;
	}
	.winner-row {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.winner-row div {
		width: 80%;
		height: auto;
		margin: 20px auto;
	}
}